extends ./layout.pug
block content

    form(action="/add-event" method="post")
        .row
            .input-field.col.s6.offset-s3
                input.validate#name(type="text" name="name" required)
                label(for="name") Názov
        .row
            .input-field.col.s6.offset-s3
                input.validate#description(type="text" name="description")
                label(for="description") Popis

        .row
            .input-field.col.s6.offset-s3
                i.material-icons.prefix timer
                input.validate.datepicker#dateStart(type="text" name="dateStart" required)
                label(for="dateStart") Dátum

        .row
            .input-field.col.s3.offset-s3
                i.material-icons.prefix timer
                input.validate.timepicker#timeStart(type="text" name="timeStart" required)
                label(for="timeStart") Začiatok
            .input-field.col.s3
                i.material-icons.prefix timer_off
                input.validate.timepicker#timeEnd(type="text" name="timeEnd" required)
                label(for="timeEnd") Koniec


        .row
            .col.s1.offset-s8
                button.waves-effect.waves-light.btn.red(type="submit" value="Odoslať")
                    i.material-icons check

    