extends ./layout.pug
block content

  .row

    //director section
    .col.s4.grey.lighten-2
      h5 Udalosti
      ul.collection
        li.collection-item prednaska
          spam.total-time HH:MM
          a.right.waves-effect.waves-light(href="#")
            i.material-icons.right send
      a.btn-floating.waves-effect.waves-light.right.red(href="/add-event-form")
        i.material-icons add

    //speaker section
    .col.s8
      h5 Speaker