doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Presenter
  script(src="javascripts/progress.js")

  //materialize
  script(src="/materialize-css/dist/js/materialize.min.js")
  link(rel="stylesheet" href="/materialize-css/dist/css/materialize.min.js")

body
    h1 ahoj