doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Presenter
  script(src="javascripts/progress.js")

  //materialize
  script(src="/materialize-css/dist/js/materialize.min.js")
  link(rel="stylesheet" href="/materialize-css/dist/css/materialize.min.css")

body
  nav
    .nav-wrapper.cyan
      a.brand-logo Logo
      ul.right
        li
          a link
        li
          a link

  .row

    //director section
    .col.s4
      h5 Udalosti
      ul.collection
        li.collection-item udalost1
        li.collection-item udalost2

    //speaker section
    .col.s8
      h5 Speaker