doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Presenter

  //materialize
  script(src="/materialize-css/dist/js/materialize.min.js")
  link(rel="stylesheet" href="/materialize-css/dist/css/materialize.min.css")
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")

  //jquery
  script(src="/jquery/dist/jquery.min.js")

  script(src="javascripts/progress.js")
  link(rel="stylesheet" href="stylesheets/progress.css")

body

    nav
      .nav-wrapper.cyan
        a.brand-logo Logo
        ul.right
          li
            a link
          li
            a link

    block content